@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@font-face {
  font-family: "Gorehand";
  src: url("./assets/fonts/Gorehand.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Searchbar styles */
@keyframes rotateShadow {
  0% {
    box-shadow: -2px -2px 8px 1px #aa00ff, 2px 2px 8px 1px #3700ff;
  }
  25% {
    box-shadow: -2px 2px 8px 1px #aa00ff, 1px -2px 10px 2px #3700ff;
  }
  50% {
    box-shadow: 2px 2px 8px 1px #aa00ff, 0px -2px 12px 3px #3700ff;
  }
  75% {
    box-shadow: 2px -2px 8px 1px #aa00ff, 1px 2px 10px 2px #3700ff;
  }
  100% {
    box-shadow: -2px -2px 8px 1px #aa00ff, 2px 2px 8px 1px #3700ff;
  }
}
.animate-rotate-shadow {
  animation: rotateShadow 2s infinite linear;
}

/* Navigation Dropdown styles */
.menu-items-container {
  overflow: visible;
  pointer-events: none;
}
.menu-items-container.open {
  pointer-events: auto;
}
.menu-item {
  opacity: 0;
  transform: translateY(-20px) scale(0.9);
  transition: opacity 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
    transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  will-change: transform, opacity;
}
.menu-items-container.open .menu-item {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.menu-item-glow {
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  z-index: -1;
  transition: inset 0.2s ease;
  pointer-events: none;
}
.menu-item:hover .menu-item-glow {
  inset: -7px;
}

/* tooltip styles */
.tooltip-container {
  position: relative;
  cursor: pointer;
  font-size: 17px;
  padding: 0.7em 1.8em;
}
.tooltip {
  background-color: #3700ff80;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-10%); /* Adjusted the initial position */
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  color: #fff;
  border-radius: 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 14px;
  width: fit-content; /* Adjusted the width */
  padding: 5px 10px; /* Adjusted padding */
  white-space: nowrap; /* Prevent text wrapping */
}
.tooltip-container:hover .tooltip {
  top: -50%; /* Adjusted the tooltip position */
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}
