@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-color: #0c2a43;
}

@font-face {
  font-family: "Gorehand";
  src: url("./assets/fonts/Gorehand.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.scroll-hidden {
  scrollbar-width: none;
}
